<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include layout/title %>
  </head>
  <body>
    <%- include layout/nav-bar %>
    <h1>Welcome, please choose menu:</h1>
    <br><br>

  </body>
</html>
